<!DOCTYPE html>
<html>
    <head>
        <title>About My Project</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>About My Project</h1>
        <p>My name is Brian Helt.</p>
        <p>I started this project to learn about Microcontrollers, C++, and Web Development. Hopefully I can learn electrical schematic design, PCB design, and component sourcing along the way!</p>
        <p>My patio gets very little sunlight, which makes it difficult for me to learn how to grow plants and start a garden. So I thought 'what if I get a sesnor that measure the amount of light my plants are getting?
            There are a few types of plant monitoring devices that you can but that all have fancy apps, but I figured why can't I make one myself? Sure, I don't have all the knowledge needed to do that, but that is what makes it fun.

        </p>

        <h2>Prototype Stage</h2>
        <p>The 'prototpye' stage of this project, <em>currently unnamed</em>, mkaes use of ESP32 devices. They are similar to Arduinos, but more powerful and have WiFi built in. The idea is tyhat I can have one ESP32 (or more, for gathering data from multiple plants)
            that has various sensors connected to it. The initial sensors are an ambient light sensor, a moisture sensor, and a temperature/humidity sensor. This ESP32 can gather all the data from those sensors and send it to the 'primary' ESP32 using something called ESP-NOW, 
            which is a communication system specific to ESP32 devices.
        </p>
    

    </body>



</html>