<!DOCTYPE html>
<html>
<head>
  <title>Brian Tries Things</title>
  <meta charset="utf-8">
  <script>
    function updateValue() {
      fetch("/api/latest")
        .then(res => res.json())
        .then(data => {
          document.getElementById("sensor-value").textContent = data.value ?? "N/A";
          document.getElementById("light-classification").textContent = data.classification ?? "N/A";
        });
    }

    setInterval(updateValue, 2000);
    window.onload = updateValue;
  </script>
</head>
<body>
  <href="about.html">About</href>
  <h1>Brian Tries Things</h1>
  <h2>
    <a href="https://www.dfrobot.com/product-2183.html">
      Getting Light Data From SEN0390
    </a>
  </h2>

  <p>Current Lux Value: <strong id="sensor-value">Loading...</strong></p>
  <p>Light Level Classification: <strong id =light-classification> Loading...</strong></p>
</body>
</html>